/** The name of the database for WordPress */
define('DB_NAME', '{{ wordpress_db_name }}');
/** MySQL database username */
define('DB_USER', '{{ wordpress_db_user }}');
/** MySQL database password */
define('DB_PASSWORD', '{{ wordpress_db_password }}');
/** MySQL database hostname */
define('DB_HOST', '{{ hostvars.db_v1i.ansible_host }}');
/** Database Charset to use in creating database tables. */
define('DB_CHARSET', 'utf8');
/** The database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');

/** Authentication Unique Keys and Salts. */
{{ wordpress_salt.content }}

/** WordPress Database Table prefix. */
$table_prefix = 'wp_';

/** For developers: WordPress debugging mode. */
define('WP_DEBUG', false);

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
        define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');