---
- hosts: bigip
  connection: ansible.builtin.local
  gather_facts: false
  vars:
    interface_info:
      - { name: "internal_selfip" ,  addr: "192.168.1.70/24", vlan: "internal" }
      - { name: "external_selfip" , addr: "192.168.1.70/24", vlan: "external" }
      - { name: "HA_selfip" ,  addr: "192.168.1.70/24", vlan: "HA" }
    netmask: 24

  tasks:
    - name: create selfip(non-flooting)
      f5networks.f5_modules.bigip_selfip:
        state: present
        name: "{{ item.name }}"
        address: "{{ item.addr }}"
        netmask: "{{ netmask }}"
        vlan: "{{ item.vlan }}"
        allow_service: default
        traffic_group: /Common/traffic-group-local-only
      loop: "{{ interface_info }}"
